# Importnt Env for QuickNode operations on BLUE WHALE account
QUICKNODE_SOLANA_DEVNET_PROVIDER=https://xxxxxxx
BLUE_WHALE_ACCOUNT_SECRET_ARRAY = 'xxx,xx,xxxxxx,xxx'
BLUE_WHALE_TOKEN_MINT_ADDRESS = xxxXxxXXX

# Anis Phantom Main Acccount Credentials
ANIS_MAIN_ACCOUNT_PUBLIC_KEY = xxxXxxXXX
ANIS_MAIN_ACCOUNT_PRIVATE_KEY=xxxXxxXXXxxxxxXxXxXXX

# For RAYDIUM (TEESTNET)
# RPC_URL=https://xxxxx
# WALLET_PRIVATE_KEY=xxxXxxXXXxxxxxXxXxXXX

# For RAYDIUM (Blueliner MAINNET with CHAIN STACK)
RPC_URL=https://xxxxxx
WALLET_PRIVATE_KEY=xxxXxxXXXxxxxxXxXxXXX